<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interview Tracker</title>
</head>
<body>
    <a href="/">Logout</a>
    <a href="programming">programming</a>
    <a href="IE">Interview Experience</a>
</body>
</html>